@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,700');
body{
    background: #f9f9fb;
}
a{
	text-decoration: none;
}
.head-wrapper{
    max-width: 1348px;
    min-height: 790px;
    position: relative;
}
.head-top-block{
    min-height: 345px;
    background-color: #212429;
}
.head-bot-block{
    min-height: 380px;

}
.navigation{
    max-width: 1270px;
    min-height: 55px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.toogle-menu{
    width: 5%;
    height: 55px;
    border-left: 1px solid #3c3c3c;
    border-right: 1px solid #3c3c3c;
}
.toogle-menu a{
    display: block;
    text-align: center;
    line-height: 50px;
}
.drop-menu{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-25px);
    position: relative;
    width: 500px;
    overflow: hidden;
    transition: all .3s;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.drop-menu.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    z-index: 10;
}
.drop-menu li{
    text-transform: uppercase;
    font-size: 14px;
}
.drop-menu a{
    font-family: 'Hind', sans-serif;
    color: #fff;
    text-decoration: none;
}
.social-top{
    width: 22%;
    display: flex;
    justify-content: space-around;
}
.social-block a:hover{
    color: #999999;
}
.social-block a{
    color: #fff;
    display: block;
    line-height: 64px;
    text-align: center;
}
.social-block{
    width: 20%;
    height: 55px;
    border-right: 1px solid #3c3c3c;
}
.social-block:first-child{
    border-left: 1px solid #3c3c3c;
}
.carousel{
    max-width: 1271px;
    margin: auto;
    position: relative;
    margin-top: -290px;
    width: 100%;
}
.sl img{
    background-repeat: no-repeat;
    background-size: 100%;
    height: 580px;
    position: relative;
    max-width: 100%;
    width: 1300px;
}
.sl{
    position: relative;
}
.text-sl{
    position: absolute;
    bottom: 270px;
    left: 80px;
}
.text-sl h1{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
}
.text-sl p{
    font-size: 18px;
    color: #fff;
    font-family: 'Hind', sans-serif;
    letter-spacing: 5px;
    padding-bottom: 5%;
}
.signup{
    max-width: 1271px;
    min-height: 105px;
    margin:auto;
    border: 1px solid #f5f5f7;
    background: #f7f7f7;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.signup-form{
    width: 1040px;
}
.signup-form form{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    height: 73%;
}
.signup-text h2{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-top: 17%;
    padding-left: 10%;
}
.input-container{
    width: 100%;
    padding: 0 2%;
    height: 50px;
}
.input-container input{
    width:100%;
    height: 50px;
    border: 1px solid #f3f3f3;
    color: #999999;
    box-sizing: border-box;
    padding-left: 2%;
}
.signup-form button{
    width: 30%;
    border: 1px solid #212121;
    background-color: #212121;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    height: 49px;
}
.main-wrapper{
    max-width: 1277px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.left-block{
    width: 70%;
}
.right-block{
    width: 27%;
    height: 2550px;
	background-color: #fff;
}
.img-block{
    max-width: 1139px;
    min-height: 495px;
    position: relative;
}
.img-block img{
    width: 100%;
}
.img-block:before{
    content: '';
    display: block;
    background-image: url("img/pint.png");
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    position: absolute;
    right: 0;
}
.img-block:after{
    content: '';
    display: block;
    background: url('img/img.png');
    background-repeat: no-repeat;
    width: 41px;
    height: 37px;
    bottom: 93px;
	position: absolute;
	left: 426px;
}
.crowed{
    max-width: 1137px;
    min-height: 500px;
}
.crowed-caption{
    max-width: 700px;
    min-height: 150px;
    margin: auto;
}
.crowed-caption-two{
    padding-top: 3%;
}
.crowed-caption p {
    text-align: center;
    font-size: 16px;
    font-family: 'Hind', sans-serif;
    color: #999999;
    padding-bottom: 2%;
}
.crowed-caption h2{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.item-crowed{
    display: flex;
    width: 40%;
    margin: auto;
    justify-content: space-between;
    padding-top: 2%;

}
.crowed-text p{
    font-size: 16px;
    font-family: 'Hind', sans-serif;
    font-weight: 300;
    line-height: 25px;
    text-align: center;
    color: #525252;
    padding-left: 3%;
	padding-right: 3%;
}
.quote span{
	display: block;
	width: 13%;
	margin: auto;
	padding-top: 5%;
	color: #777979;
	text-transform: uppercase;
}
.crowed-button{
	max-width: 130px;
	min-height: 30px;
	margin: auto;
	border-left: 1px solid;
	border-right: 1px solid;
	margin-top: 5%;
}
.crowed-button a{
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Hind', sans-serif;
	color: #212121;
	text-align: center;
	line-height: 30px;
}
.crowed-footer{
    max-width: 1144px;
    min-height: 145px;
    border-top: 1px solid #f2f2f4;
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
}
.crowed-footer-left{
    width: 237px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 4%;
}
.crowed-footer-right{
    width: 127px;
}
.comment-btn, .like-btn{
    display: flex;
    height: 100px;
}
.comment-btn a , .like-btn {
    display: block;
}
.comment-btn a,  .like-btn button{
    line-height: 130px;
    letter-spacing: 1px;
    color: #9f9fa0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Hind', sans-serif;
}
.crowed-footer-left button{
    height: 40px;
    background-color: transparent;
    border: none;
    color: #999;
    margin-top: 29%;
}
.crowed-footer i{
    color: #999;
}
.comment-btn i{
    line-height: 126px;
    letter-spacing: 8px;
    color: #9f9fa0;
}
.like-btn i{
    line-height: 126px;
    letter-spacing: 8px;
    color: #9f9fa0;
}
.social-crowe{
    width: 136px;
    padding-top: 44%;
    justify-content: space-around;
    display: flex;
}
.social-crowe a{
    display: block;
}
.social-crowe i{
    letter-spacing: 12px;
    color: #464646;
}
.black-button{
	position: absolute;
	right: 0px;
	top: -15px;
	background-color: #000;
	width: 50px;
	height: 50px;
	border: 1px solid #000;
}
.black-search{
	position: relative;
}
.black-search input{
	width: 100%;
	height: 50px;
	border: none;
	background-color: #f9f9fb;
	font-size: 15px;
	box-sizing: border-box;
	padding-left: 5%;
	font-family: 'Hind', sans-serif;
	text-transform: uppercase;
}
.black-search i{
	color: #fff;
}
.layout{
	max-width: 1138px;
	min-height: 445px;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.layout-left{
	width: 392px;
}
.layout-right{
	width: 392px;
}
.layout-left-top, .layout-left-bot{
	max-width: 392px;
	min-height: 217px;
	border: 1px solid #fff;
}
.layout-center{
	width: 360px;
	height: 436px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.layout-right-top, .layout-right-bot{
	max-width: 392px;
	min-height: 217px;
	border: 1px solid #fff;
}
.layout img{
	max-width: 100%;
}
.layout:after{
	content: '';
    display: block;
    background: url('img/img.png');
    background-repeat: no-repeat;
    width: 41px;
    height: 37px;
	position: absolute;
	bottom: 0;
	left: 430px;
}
.crowed-two{
	background-color: #fff;
}
.quote{
	max-width: 1130px;
	min-height: 335px;
	background-image: url('img/bg-text.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.quote p{
	font-size: 20px;
	text-align: center;
	font-family: 'Hind', sans-serif;
	font-weight: 500;
	color: #fff;
	padding-top: 12%;
	padding-left: 3%;
	padding-right: 3%;
	text-transform: uppercase;
}
.video-block{
    max-width: 1138px;
    min-height:360px;
    margin:auto;
    padding-top: 5%;
}
.video-block iframe{
    width: 100%;
}
.sound-block{
    min-height: 350px;
    margin-top: 5%;
}
.freeb{
    width: 100%;
    min-height:245px;
    background-color: #000;
    margin-top: 5%;
}
.freeb p{
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10%;
}
.freeb a{
    display: block;
    text-align: center;
    color: #fff;
    padding-top: 5%;
}
.search-container{
    max-width: 300px;
    padding: 0 7%;
    margin-top: 10%;
}
.big-magaz{
    max-width: 300px;
    min-height: 633px;
    margin: auto;
    padding-top: 15%;
}
.big-magaz img{
    max-width: 100%;
}
.catagories{
    max-width: 311px;
    min-height: 315px;
    margin: auto;
}
.catagories-caption{
    height: 40px;
    border-bottom: 1px solid #f7f7f7;
}
.catagories-caption h2{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.catagories-item{
    height: 100%;
    padding-top: 5%;
}
.catagories-item li{
    font-size: 16px;
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    padding: 3%;
    border-bottom: 1px solid #f7f7f7;
}
.catagories-item span {
    width: 10%;
    display: block;
    float: right;
}
.catagories-item a{
    display: block;
    color: #282828;
}
.little-magaz{
    max-width: 300px;
    min-height: 250px;
    margin:auto;
    margin-top: 7%;
}
.little-magaz img{
    max-width:100%;
}
.latest-post{
    max-width: 300px;
    min-height: 465px;
    margin:auto;
    margin-top: 5%;
    padding: 0 4%;
}
.latest-caption{
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #f7f7f7;
}
.latest-caption h2{
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-top: 8%;
}
.post{
    width: 100%;
}
.post-item{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    border-bottom: 1px solid #f7f7f7;
}
.post-item img{
    height: 50px;
    max-width: 100%;
}
.post-item-text{
 padding-left: 2%;
}
.post-item-text h2{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
.post-item-text p{
    font-size: 14px;
    font-family: 'Hind', sans-serif;
    color: #a7a7a7;
}
.post-item-text a{
    font-size: 14px;
    font-family: 'Hind', sans-serif;
    color: #a7a7a7;
}
.post-item-text div{
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding-top: 3%;
}
.social-right-block{
    max-width: 300px;
    min-height: 95px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.social-right-block i{
    color: #000;
}
.right-block-carousel{
    max-width: 300px;
    min-height: 233px;
    margin: auto;
}
.footer-block{
    max-width: 1638px;
    min-height: 414px;
    background-color: #212429;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 2%;
    margin-top: 5%;
}
.footer-block p{
    font-size: 14px;
    font-family: 'Hind', sans-serif;
    font-weight: 300;
    color: #fff;
    line-height: 20px;
}
.about-blog,
.latest-tweets,
.instagram{
    margin: 0 1%;
}
.about-blog p{
    padding-top: 9%;
}
.about-blog img{
    padding-top: 4%;
}
.tweets-block{
    padding-top: 13%;
}
.tweets-block a, i{
    color: #fff;
}
.tweets-text{
    margin-top: 15%;
}
.tweets-block a{
    padding-left: 2%;
    font-size: 13px;
}
.tweets-block p{
    padding-left: 9%;
    margin-top: 7%;
}
.footer-block h2{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding-top: 40px;
}
.footer-block h3{
    font-size: 14px;
    color: #fff;
}
.insta-block{
    padding-top: 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 365px;
    max-width: 100%;
}
.insta-img{
    border: 1px solid;
}
.insta-img img{
    max-width:100%;
}
.footer-line{
    width: 100%;
    height: 35px;
    background-color: #17191c;
}
.footer-line p{
    text-align: center;
    font-size: 14px;
    font-family: 'Hind', sans-serif;
    font-weight: 300;
    padding-top: 1%;
}
.latest-comment-block{
    padding-top: 15%;
}
.latest-comment-block p{
    padding-top: 5%;
}
.latest-comment-block div:last-child{
    padding-top: 13%;
}












@media only screen and (max-width:1050px){
    .signup-form form{
        flex-wrap: wrap;
    }
    body{
        overflow: hidden;
    }
    .layout{
        flex-wrap: wrap;
    }
    .footer-block{
        flex-wrap: wrap;
    }
}
@media only screen and (max-width:660px){
    .right-block{
        display: none;
    }
    .left-block{
        margin:auto;
    }
}
@media only screen and (max-width:504px){
    .comment-btn a, .like-btn button{
        letter-spacing: 0;
    }
    .comment-btn i{
        line-height:45px;
    }
    .crowed-footer-left{
        display: block;
    }
    .crowed-footer-left button{
        margin-top: 0;
    }
    .drop-menu{
        display: block;
        width: 90px;

    }
}
@media only screen and (max-width: 450px){
    .img-block{
        min-height: 185px;
    }
    .social-top{
        width: 50%;
    }
}
@media only screen and (max-width: 400px){
    .logo{
        display: none;
    }
}